header {
	border-top: solid 10px rgb(102, 237, 255);
	font-family: $font-family_1;
	font-family: $font-family_2;
	font-family: $font-family_3;
	font-family: $font-family_4;
	font-family: $font-family_5;
	font-family: $font-family_6;
	font-size: 25px;
    background-color: $background-color_2;


    .logo {
        width: 120px;
    }

    .miLink {
        &:hover {
            text-decoration: underline;
        }
    }

}




