@media (max-width: 1024px) {
	header {
		.miLink {
			font-size: 16PX;
		}

	}
main {


	.carrusel {
		height: 250px;
		margin-top: 19%;

		.fotosCarrusel {
			height: 250px;
		}
	}
	.texto {
		font-size: 20px;
	}





}


main {

.informacionTexto {
	font-size: 70px;
}
	.listaRedes {
		text-align: center;
	
		.nombreLogo {
			font-size: 30px;
			margin-left: 10px;
			top: 10px;
		}
	
		.tituloLista {
			margin-top: 200px;
		}
	
		.logoRedes {
			width: 5%;
			width: 80px;
		}
	

	}

	.mapa {
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;


		#mapaTamaño {
			width: 550px;
			height: 400px;
			
					}
	

	}


}

	



main {

	.terminos {
		font-size: 20px;
		text-decoration: underline;
	
	
	}


	.titulos {
		margin-top: 20px;
		font-size: 14px;
	}


	.politicaDePrivacidad {
		margin: 70px 40px;
		margin-right: 60px;
		font-size: 14px;
	}

	.terminosCondiciones {
		font-size: 14px;
		margin: 70px 40px;
		margin-right: 60px;
	}


	h2 {
		font-size: 100px;
	}

}









	footer {

		.linksFooter {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.WhatsApp {
		width: 55px;
	}
}
@media (max-width: 600px) {

	header {

		.logo {
			width: 110px;
		}
		.miLink {
			font-size: 14PX;
		}

	}

	main {


		.carrusel {
			height: 200px;
			margin-top: 28%;

			.fotosCarrusel {
				height: 200px;
			}
		}
		.texto {
			font-size: 18px;
		}
	}

	form {
		font-size: 20px;
		width: 100%;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 10%;
   


	.formulario {
		padding-top: 20px;

		#nombre {
			font-size: 17px;
		}

		#apellido {
			font-size: 17px;
		}

		#email {
			font-size: 17px;
			margin-left: 10px;
		}



		#formulario1 {
			width: 280px;
			height: 220px;
			font-size: 15px;
		}
   

		.botonesContacto {
				font-size: 100px;
				margin: 10PX 25PX;
				width: 50PX;
			

		}


	}

	.botonContacto {
        font-size: 20px;
        margin: 10PX 25PX;
        width: 80PX;
    }

}


	main {

		.informacionTexto {
			font-size: 50px;
		}
			.listaRedes {
				text-align: center;
			
				.nombreLogo {
					font-size: 20px;
					margin-left: 8px;
					top: 10px;
				}
			
				.tituloLista {
					margin-top: 200px;
				}
			
				.logoRedes {
					width: 5%;
					width: 60px;
				}
			
		
			}
		
			.mapa {
				margin-top: 100px;
				margin-bottom: 100px;
				text-align: center;
		
		
				#mapaTamaño {
					width: 430px;
					height: 330px;
					
							}
			
		
			}
		
		
		}


		main {

			.terminos {
				font-size: 15px;
				text-decoration: underline;
			
			
			}
		
		
			.titulos {
				margin-top: 20px;
				font-size: 10px;
			}
		
		
			.politicaDePrivacidad {
				margin: 50px 30px;
				margin-right: 50px;
				font-size: 10px;
			}
		
			.terminosCondiciones {
				font-size: 10px;
				margin: 50px 30px;
				margin-right: 50px;
			}
		
		
			h2 {
				font-size: 100px;
			}
		
		}
	

	footer {

		.linksFooter {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	

	.WhatsApp {
		width: 37px;
	}
}
@media (max-width: 480px) {

header {

	.logo {
		width: 100px;
	}
	.miLink {
		font-size: 10PX;
	}

}

main {




    .carrusel { height: 200px;
        margin-top: 35%;

		.fotosCarrusel {

			height: 200px;
	   }
    }
    
	.texto {
		font-size: 12px;
	}
	

}


main {

	.informacionTexto {
		font-size: 20px;
	}
		.listaRedes {
			text-align: center;
		
			.nombreLogo {
				font-size: 10px;
				top: 10px;
			}
		
			.tituloLista {
				margin-top: 200px;
			}
		
			.logoRedes {
				width: 5%;
				width: 40px;
			}
		
	
		}
	
		.mapa {
			margin-top: 100px;
			margin-bottom: 100px;
			text-align: center;
	
	
			#mapaTamaño {
				width: 300px;
				height: 250px;
				
						}
		
	
		}
	
	
	}



	form {
		font-size: 15px;
		width: 100%;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 10%;
   


	.formulario {
		padding-top: 20px;

		#nombre {
			font-size: 12px;
		}

		#apellido {
			font-size: 12px;
		}

		#email {
			font-size: 12px;
			margin-left: 10px;
		}



		#formulario1 {
			width: 200px;
			height: 180px;
			font-size: 10px;
		}
   

	}


	.botonContacto {
        font-size: 15px;
        margin: 10PX 18PX;
        width: 70PX;
    }

}


main {

	.terminos {
		font-size: 15px;
		text-decoration: underline;
	
	
	}


	.titulos {
		margin-top: 20px;
		font-size: 10px;
	}


	.politicaDePrivacidad {
		margin: 50px 30px;
		margin-right: 50px;
		font-size: 10px;
	}

	.terminosCondiciones {
		font-size: 10px;
		margin: 50px 30px;
		margin-right: 50px;
	}


	h2 {
		font-size: 100px;
	}

}



footer {

	.linksFooter {
		padding-left: 10px;
		padding-right: 10px;
	}
	.textFoooter {
		font-size: 10px;
	}

}


	.WhatsApp {
		width: 35px;
	}
}
@media (max-width: 320px) {

	header {

		.logo {
			width: 70px;
		}
		.miLink {
			font-size: 8PX;
		}

	}
	
	main {
		.carrusel {
			height: 200px;
			margin-top: 40%;

			.fotosCarrusel {
				height: 200px;
			}

		}

		.texto {
			font-size: 10px;
		}

	}


	main {

		.informacionTexto {
			font-size: 20px;
		}
			.listaRedes {
				text-align: center;
			
				.nombreLogo {
					font-size: 10px;
					top: 10px;
				}
			
				.tituloLista {
					margin-top: 200px;
				}
			
				.logoRedes {
					width: 5%;
					width: 40px;
				}
			
		
			}
		
			.mapa {
				margin-top: 100px;
				margin-bottom: 100px;
				text-align: center;
		
		
				#mapaTamaño {
					width: 100%;
					height: 250px;
					
							}
			
		
			}
		
		
		}


	
	
		form {
			font-size: 15px;
			width: 100%;
			text-align: center;
			padding-top: 5%;
			padding-bottom: 10%;
	   
	
	
		.formulario {
			padding-top: 20px;
	
			#nombre {
				font-size: 12px;
			}
	
			#apellido {
				font-size: 12px;
			}
	
			#email {
				font-size: 12px;
				margin-left: 10px;
			}
	
	
	
			#formulario1 {
				width: 200px;
				height: 180px;
				font-size: 10px;
			}
	   
	
		}

		.botonContacto {
			font-size: 12px;
			margin: 10PX 15PX;
			width: 50PX;
		}
	

	}



	main {

		.terminos {
			font-size: 15px;
			text-decoration: underline;
		
		
		}
	
	
		.titulos {
			margin-top: 20px;
			font-size: 10px;
		}
	
	
		.politicaDePrivacidad {
			margin: 50px 30px;
			margin-right: 50px;
			font-size: 10px;
		}
	
		.terminosCondiciones {
			font-size: 10px;
			margin: 50px 30px;
			margin-right: 50px;
		}
	
	
		h2 {
			font-size: 100px;
		}
	
	}

	
footer {

	.textFoooter {
		font-size: 8px;
	}

}


	.WhatsApp {
		width: 30px;
	}
}
