$font-family_1: 'Bebas Neue', sans-serif;
$font-family_2: 'Lato', sans-serif;
$font-family_3: 'Merriweather Sans', sans-serif;
$font-family_4: 'Roboto', sans-serif;
$font-family_5: 'Roboto Condensed', sans-serif;
$font-family_6: 'Rubik', sans-serif;
$background-color_1: rgb(212, 255, 255);
$background-color_2: rgb(164, 253, 253);
$background-color_3: rgb(198, 245, 245);

@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Merriweather+Sans&family=Roboto&family=Roboto+Condensed:wght@300&family=Rubik:wght@600&display=swap";